In [2]:
import pandas as pd

In [4]:
sheet = pd.read_csv('Statistik8.csv')
sheet

             i           Keterangan   x   y  i.x  i.y |(x − x̅)|2 |(y − y)|2
0            1  Sangat Tidak Setuju   0   8    0    8     19,8025    23,9121
1            2         Tidak Setuju   1  13    2   26     11,9025    97,8121
2            3               Netral   4   9   12   27      0,2025    34,6921
3            4               Setuju  18  11   72   44    183,6025    62,2521
4            5        Sangat Setuju  30  12  150   60    652,8025    79,0321
5  Banyak Data                  NaN  53  53  236  165    868,3125   297,7005

Menghitung Nilai Rata Rata Data x (Predictor variabel)

In [5]:
#untuk mencari nilai rata-rata data x, maka sigma data x dibagi dengan banyaknya responden
rerata = 236 / 53
rerata

4.452830188679245

Menghitung STANDAR DEVIASI data X (Simpangan Baku)

In [6]:
#menghitung jumlah total nilai (xi - x)^2
data_sd = sheet['|(x − x̅)|2'].tolist()
ttl_data_sd = float(data_sd.pop(-1).replace(',','.'))
print(ttl_data_sd)

868.3125

In [7]:
#memasukkan nilai total diatas ke rumus standar deviasi
std_dev = (ttl_data_sd/53)**(1/2)
print (std_dev)

4.0476233417872685

Menghitung Rata Rata Data y (Response Variabel)

In [8]:
#untuk mencari nilai rata-rata data x, maka sigma data x dibagi dengan banyaknya responden
rerata = 165 / 53
rerata

3.1132075471698113

Menghitung Standar Deviasi Data y (Response Variabel)

In [10]:
#menghitung jumlah total nilai (yi - y)^2
data_sd = sheet['|(y − y)|2'].tolist()
ttl_data_sd = float(data_sd.pop(-1).replace(',','.'))
print(ttl_data_sd)

297.7005

In [11]:
#memasukkan nilai total diatas ke rumus standar deviasi
std_dev = (ttl_data_sd/53)**(1/2)
print (std_dev)

2.370019106681998

PERHITUNGAN REGRESI LINEAR

In [12]:
sheet = pd.read_csv('Statistik82.csv')
sheet

   Data ke-    x    y   x2    y2   xy
0         1    4    4   16    16   16
1         2    1    4    1    16    4
2         3    5    5   25    25   25
3         4    5    5   25    25   25
4         5    5    5   25    25   25
5         6    2    3    4     9    6
6         7    5    5   25    25   25
7         8    1    5    1    25    5
8         9    1    5    1    25    5
9        10    2    4    4    16    8
10       11    3    5    9    25   15
11       12    1    3    1     9    3
12       13    1    5    1    25    5
13       14    3    4    9    16   12
14       15    2    4    4    16    8
15       16    4    5   16    25   20
16       17    5    4   25    16   20
17       18    4    5   16    25   20
18       19    4    4   16    16   16
19       20    5    4   25    16   20
20       21    4    5   16    25   20
21       22    4    5   16    25   20
22       23    4    5   16    25   20
23       24    2    5    4    25   10
24       25    5    4   25    16   20
25       26    5    5   25    25   25
26       27    1    5    1    25    5
27       28    2    5    4    25   10
28       29    2    5    4    25   10
29       30    2    3    4     9    6
30       31    5    5   25    25   25
31       32    2    4    4    16    8
32       33    3    4    9    16   12
33       34    4    3   16     9   12
34       35    3    4    9    16   12
35       36    4    5   16    25   20
36       37    5    5   25    25   25
37       38    2    4    4    16    8
38       39    3    4    9    16   12
39       40    2    4    4    16    8
40       41    5    5   25    25   25
41       42    1    5    1    25    5
42       43    5    5   25    25   25
43       44    3    5    9    25   15
44       45    3    4    9    16   12
45       46    4    5   16    25   20
46       47    3    5    9    25   15
47       48    2    5    4    25   10
48       49    3    5    9    25   15
49       50    2    4    4    16    8
50       51    4    5   16    25   20
51       52    2    4    4    16    8
52       53    1    2    1     4    2
53    Sigma  165  236  617  1078  751

Mencari nilai Konstanta a dan b dengan Persamaan Y = a + bx

In [16]:
#Mencari nilai konstanta a
kons_a = (236 * (617))-(165*751)
pembagi = (53*617)-(165**2)
a = kons_a/pembagi
a

3.962198685171658

In [17]:
#Mencari nilai konstanta b
kons_b = (53*(751))-(165*236)
b = kons_b/pembagi
b

0.15759678597516436

PREDIKSI DENGAN MEMASUKKAN NILAI KATEGORI KE PERSAMAAN REGRESI LINEAR

In [29]:
#Dengan x adalah indeks label pentingnya spesifikasi laptop dari kategori sangat tidak setuju sampai dengan sangat setuju = [1,2,3,4,5]
print ("x = 1, y =",a+b)
print ("x = 2, y =",a+b*2)
print ("x = 3, y =",a+b*3)
print ("x = 4, y =",a+b*4)
print ("x = 5, y =",a+b*5)

x = 1, y = 4.119795471146823
x = 2, y = 4.277392257121987
x = 3, y = 4.434989043097151
x = 4, y = 4.592585829072315
x = 5, y = 4.75018261504748